/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2020, 4:32:19 PM
    Author     : khai
*/

.frameHomePage table {
    width: 100%;
    color: #fff;
}

.frameHomePage .titleRank {
    font-size: 25px;
    font-weight: bold;
    background-image: linear-gradient(-90deg, #550000, #DD0000);
    text-align: center;
    padding: 25px;
}

.frameHomePage ul {
    padding: 0;
    list-style: none;
    margin: 20px;
}

.frameHomePage ul li {
    padding: 10px;
    position: relative;
}

.frameHomePage .numRank {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    font-size: 13px;
    color: #d90000;
    top: 35px;
    left: 13px;
}

.frameHomePage .userRank1 .numRank, .frameHomePage .userRank2 .numRank, .frameHomePage .userRank3 .numRank {
    background: orange;
}

.frameHomePage .avatar {
    background: url('../images/no-image.jpg') no-repeat center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid red;
}

.frameHomePage .infoUser {
    padding-left: 10px;  
}

.frameHomePage .infoUser .name {
    color: orange;  
}

.frameHomePage .infoUser .money {
    color: yellow;  
    font-weight: normal;
}

.frameHomePage .userRank {
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(-90deg, #DD0000, #ff0000);
    padding-left: 10px;
    margin: 5px 0;
    box-shadow: 2px 2px 2px #999;
    border-radius: 0px 20px 0px 20px;
}

.frameHomePage .userRank1, .frameHomePage .userRank2, .frameHomePage .userRank3 {
    background-image: linear-gradient(-90deg, #550000, #DD0000);
}

.frameHomePage .btnActionHome {
    padding: 20px;
    width: 100%;
    height: auto;
    margin: 10px 0;
    box-shadow: 2px 2px 2px #999;
    border-radius: 0px 20px 0px 20px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}

.frameHomePage .play {
    background-image: linear-gradient(-90deg, orange, yellow);
}

.frameHomePage .room {
    background-image: linear-gradient(-90deg, #990000, #DD0000);
}

.frameHomePage .exit {
    background-image: linear-gradient(-90deg, #999, #ccc);
}

.frameHomePage .frameMyInfo {
    width: 100%;
    text-align: center;
}

.frameHomePage .frameMyInfo .avatar {
    width: 70px;
    height: 70px;
    border: 5px solid orange;
    background: url('../images/no-image.jpg') no-repeat center;
    background-size: cover;
}

.frameHomePage .frameMyInfo div {
    margin: auto;
}

.frameHomePage .frameMyInfo .name, .frameHomePage .frameMyInfo .money, .frameHomePage .frameMyInfo .btnActionBar {
    border: 1px solid orange;
    padding: 0 2px;
    border-radius: 2px;
    width: auto;
    position:relative;
    margin-top: 5px;
    background: #ccccccb5;
    text-shadow: 1px 1px 2px #000;
    font-size: 20px;
}

.frameHomePage .frameMyInfo .btnActionBar i {
    color: white;
    /*border: 1px solid orange;*/
    border-radius: 50%;
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.frameHomePage .frameMyInfo .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

html {
    /*background: url('../images/bg02.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
