body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

form {
    position: fixed;
    top: 40%;
    left: 30%;
}

form label {
    color: white;
    font-size: 2.2em;
    font-family: 'Courgette', cursive;
}

form input {
    border-radius: 20px;
    font-size: 2em;
    padding-left: 5px;
}

form input[type=submit] {
    padding-left: 20px;
    padding-right: 20px;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    font-family: 'Kalam', cursive;
}

form input[type=submit]:hover {
    background-color: black;
    color: white;
}

div {
    text-align: center;
    margin: 10px;
}

.game {
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}

.computer-score {
    color: white;
    font-family: 'Marck Script', cursive;
    font-size: 2em;
}

.player-score {
    color: white;
    font-family: 'Marck Script', cursive;
    font-size: 2em;
}

.hit-button, .stand-button, .startover {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    font-family: 'Kalam', cursive;
    border-radius: 20px;
    font-size: 1.5em;
    margin-right: 10px;
    width: 200px;
}

.hit-button:hover, .stand-button:hover, .startover:hover {
    background-color: black;
    color: white;
}

.card {
    text-align: left;
    width: 8em;
    height: 9.5em;
    display: inline-block;
    border: 0.5px solid black;
    border-radius: 10px;
    font-size: 1.3em;
    background-color: white;
    padding-left: 10px;
    padding-top: 5px;
    margin-left: -50px;
    transition: margin-left;
    transition-duration: 1s;
    background-repeat: no-repeat;
    background-size: cover;
}

.card:hover {
    margin-left: 0;
}

.result {
    font-size: 2.3em;
    font-family: 'Bad Script', cursive;
    color: white;
    font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#bet {
    color: yellow;
    font-family: 'Marck Script', cursive;
    font-size: 4em;
    text-align: right;
    padding: 5px;
    width: 71%;
}